.form-width-1{
    //width: 100px;
}

.form-width-2{
    //width: 150px;
}

.zId1{
    z-index: 1;
}
.zId2{
    z-index: 2;
}

.hidden {
    display: none;
}

.setLabel{
    width: 82px;
    margin-left: 14px;
}
.form-control.setInput{
    width: 120px;
}
.settingSetDiv{
    border-style: groove;
}
.btnMargin{
    margin-left: 20px;
}

.panel-default{
    min-width: 440px;
}

#searchInput{
    width: 200px;
}
#radiusInput {
    width: 70px;
}
#placeInput {
    width: 105px;
}
#languageInput {
    width: 105px;
    padding-right: 22px;
}

/****** Tweet display settings: ******/

.tweetDiv{
    max-width: 520px;
}

.tweetImg{
    max-width: 434px;
    
}

blockquote.tweetQuote {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
}
 
blockquote.tweetQuote p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}
 
blockquote.tweetQuote a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}

blockquote.tweetQuote a:hover,
blockquote.tweetQuote a:focus {
    text-decoration: underline;
}

ol.tweetList {
    list-style-type:none;
    padding-left: 0px;
}

li.tweetList {
    display: inline-block;
    vertical-align: top;
}
