.form-width-1{
    //width: 100px;
}

.form-width-2{
    //width: 150px;
}

.zId1{
    z-index: 1;
}
.zId2{
    z-index: 2;
}

.hidden {
    display: none;
}

.setLabel{
    width: 82px;
    margin-left: 14px;
}
.form-control.setInput{
    width: 120px;
}
.settingSetDiv{
    border-style: groove;
}
.btnMargin{
    margin-left: 20px;
}

#searchInput{
    width: 200px;
}
#radiusInput {
    width: 70px;
}
#placeInput {
    width: 105px;
}
#languageInput {
    width: 105px;
    padding-right: 22px;
}
